/* You can add global styles to this file, and also import other style files */
@import 'bulma/css/bulma.css';


body{
    height: 100vh;
    background: linear-gradient(to right, #ffffff, #06274d)
}

.container{
    padding-top: 200px;
}